*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  margin-top: 20%;
}
/* NAV BAR */
.navbar{
  position: fixed;
  z-index: 999;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ec7b7d;
  position: fixed;
  top: 0;
  width:100%;
}

li {
  float: left;
  margin-left:25px;
}

li a {
  display:inline-block;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}
li a:hover {
  background-color: #fdc168;
} 